# Arquivo de ajuda do Spring
HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IDEs / Configs
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# MacOS
.DS_Store
